@import "foundation/normalize.css";
@import "foundation/foundation.css";
@import "foundation/foundation-icons.css";


body {
    background-image: url('Images/Backgrounds/congruent_outline.png');
    background-repeat: repeat;
}

.has-shadow {
    box-shadow: 3px 3px 3px #888888;
}