@import "foundation/normalize.css";
@import "foundation/foundation.css";
@import "foundation/foundation-icons.css";
@import "css-social-buttons-master/css/zocial.css";


body {
    background-image: url('Images/Backgrounds/congruent_outline.png');
    background-repeat: repeat;
}

.has-shadow {
    box-shadow: 4px 4px 4px #888888;
}

.contentBox {
    border: #cccccc 1px solid;
    background-color: white;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 10px;
    min-height: 24rem;
    padding: 30px;
}

.customer-details {
    padding: 8px;
}

.customer-label {
    font-weight: bold;
}