@{
    ViewBag.Title = "Home";
}


<div style="margin:20px">

    <div class="row">
        <h1>OGSys Demo Application</h1>
        <p>This is a small demo application developed to gain more exposure to some of the technologies listed below.</p>
        <hr/>
    </div>

    <div class="row">
        <div class="medium-6 column">
            <h2>Overview</h2>
            <ul>
                <li>ASP.NET MVC 5 Web Application (<a href="http://www.asp.net/" target="_blank">www.asp.net</a>)</li>
                <li>Deployed to Azure (<a href="https://windows.azure.com/" target="_blank">windows.azure.com</a>)</li>
                <li>Foundation 5 (<a href="http://foundation.zurb.com/" target="_blank">http://foundation.zurb.com</a>)</li>
                <li>Google Authentication (<a href="https://developers.google.com/" target="_blank">developers.google.com</a>)</li>
                <li>Highway.Data Framework (<a href="http://hwyfwk.com/" target="_blank">www.hwyfwk.com</a>)</li>
                <li>Public Repository (<a href="https://github.com/RTurek/OGSys" target="_blank">www.github.com/RTurek/OGSys</a>)</li>
            </ul>
        </div>
        <div class="medium-6 column">
            <h2>Technologies</h2>
            <p>C#, ASP.NET, HTML5, Razer, CSS3, JavaScript, jQuery, Orbit, Reveal, Sublime, Git, Sass, Compass, Chrome, SQL, Node.js, Ruby 1.9, Foundation 5, ADO.Net Entity Framework, Highway.Data, Microsoft Azure, Visual Studio Ultimate 2013, Adobe Photoshop CC 2014, Google Developers/Apps.</p>
        </div>
    </div>

</div>