@{
    ViewBag.Title = "Home";
}

<style>
    .contentBox {
        border: #cccccc 1px solid;
        background-color: white;
        padding: 10px;
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 10px;
        min-height: 20rem;
    }
</style>
<div class="large-12 column" style="background-color:white">
    <div>

        <div class="row">
            <div>
                <h1>OGSys Demo Application</h1>
                <h5>This app was developed to gain more exposure to some of the technologies listed below. Please log in to gain access to the customer database for testing.</h5>
            </div>
            <hr />
        </div>

        <div class="row">
            <div class="medium-6 column">
                <div class="contentBox">
                    <h2>Overview</h2>
                    <ul>
                        <li><a href="http://www.asp.net/" target="_blank">ASP.NET MVC 5</a></li>
                        <li><a href="http://foundation.zurb.com/" target="_blank">Zurb Foundation 5</a></li>
                        <li><a href="https://developers.google.com/" target="_blank">Google User Authentication</a></li>
                        <li><a href="http://hwyfwk.com/" target="_blank">Entity Framework</a></li>
                        <li><a href="https://github.com/RTurek/OGSys" target="_blank">Public Github Repository</a></li>
                        <li><a href="https://windows.azure.com/" target="_blank">Deployed to Azure</a></li>
                        <li><a href="https://ogsys.azurewebsites.net/" target="_blank">Live Demo</a></li>
                    </ul>
                </div>
            </div>
            <div class="medium-6 column">
                <div class="contentBox">
                    <h2>Technologies Used</h2>
                    <p>C#, ASP.NET, HTML5, Razer, CSS3, JavaScript, jQuery, Orbit, Reveal, Sublime, Git, Sass, Compass, Chrome, SQL, Node.js, Ruby 1.9, Foundation 5, ADO.Net Entity Framework, Highway.Data, Microsoft Azure, Visual Studio Ultimate 2013, Adobe Photoshop CC 2014, Google Developers/Apps.</p>
                </div>
            </div>

        </div>
    </div>
</div>