<footer>
    <span>
        &copy; @DateTime.Now.Year - <a href="http://www.rturek.com/" target="_blank">Ryan.Turek</a>
        <a href="https://github.com/RTurek"><i class="social foundicon-github"></i></a>
    </span>
</footer>