<footer>
    <span>
        &copy; @DateTime.Now.Year - <a href="http://www.rturek.com/" target="_blank">Ryan Turek</a>
        <a href="https://github.com/RTurek"><i class="fi-social-github"></i> </a>
        <a href="https://twitter.com/rjturek"><i class="fi-social-twitter"></i> </a>
        <a href="https://www.linkedin.com/profile/view?id=144854729"><i class="fi-social-linkedin"></i> </a>
    </span>
</footer>